<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h2>ㅇㅇㅇ 웹개발 프로젝트</h2>
  <p>챕터 1: ul, li, float, text-align, clear | <a href="http://getbootstrap.com/css/#grid">grid system</a></p>
</div>
<section>
  <ul>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>
    <li class="col-md-3 col-sm-6 portfolio">
      <img src="images/portfolio/1.png">
      <p><b>이응셋</b></p>
      <p>프로와 에어의 관계</p>
    </li>

  </ul>
</section>

<div class="footer">
  <p><a href="/2">챕터 2</a></p>
</div>
