<div ng-include="'partials/navbar'"></div>

<div class="col-md-3">
  <ul>
    <li>
      <div>
        <img src="images/portfolio/1.png" width="100%">
        <p>집까지 배달한다는 것</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/portfolio/2.jpg" width="100%">
        <p>마음과 그림</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/portfolio/3.png" width="100%">
        <p>마음과 그림</p>
      </div>
    </li>
  </ul>
</div>
<div class="col-md-3">
  <ul>
    <li>
      <div>
        <img src="images/portfolio/12.png" width="100%">
        <p>더워더워더워</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/portfolio/11.jpg" width="100%">
        <p>메리 추석!</p>
      </div>
    </li>
  </ul>
</div>
<div class="col-md-3">
  <ul>
    <li>
      <div>
        <img src="images/portfolio/4.png" width="100%">
        <p>12월</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/portfolio/10.jpg" width="100%">
        <p>상상</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/portfolio/5.png" width="100%">
        <p>!!!!!!</p>
      </div>
    </li>
  </ul>
</div>
<div class="col-md-3">
  <ul>
    <li>
      <div>
        <img src="images/portfolio/7.jpeg" width="100%">
        <p>별을 굽다</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/portfolio/9.jpg" width="100%">
        <p>사악한 이응셋</p>
      </div>
    </li>
    <li>
      <div>
        <img src="images/portfolio/8.png" width="100%">
        <p>흔들려라</p>
      </div>
    </li>

  </ul>
</div>
<!--   <ul>

    <li class="col-md-3 col-sm-4 col-xs-6">
      <div>
        <img src="images/portfolio/2.jpg" width="100%">
        <p>마음과 그림</p>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-6">
      <div>
        <img src="images/portfolio/3.png" width="100%">
        <p>마음과 그림</p>
      </div>
    </li>
    <li  class="col-md-3 col-sm-4 col-xs-6">






  </ul> -->

<div class="footer">
  <p>from 춘식</p>
</div>
